@use 'sass:map';



@mixin rainbowDarkSet($colorName) {
  color: map-get($rainbowDarkList, $colorName);
}

@mixin rainbowLightSet($colorName) {
  color: map-get($rainbowLightList, $colorName);
}

@each $color in $rainbows {
  .rainbow-dark-#{$color} {
    @include rainbowDarkSet($color);
  }
  .rainbow-light-#{$color} {
    @include rainbowLightSet($color);
  }
}

@mixin flexBox($direction: row, $gap: 0, $justifyContent:flex-start, $alignItems:flex-start ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap + px;
}

@mixin maxLayout {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin maxArticleLayout {
  max-width: 980px;
  width:100%;
  margin: 0 auto;
  padding: 0 30px;
}

@mixin text-primary-color {
  color: $primary-text-color;
}

@mixin pageContainer {
  padding-top: 200px;
  height: 100%;
  min-height:100vh;
  @include mobile {
    padding-top: 150px;

  }
}


@mixin upShow ($duration, $delay: 0ms) {
  animation: upShow $duration $delay ease-in-out forwards;
  opacity: 0;
  transform: translateY(40px);
}

/*반응형 화면 크기*/
$mobile: 575.98px;
$landscape: 767.98px;
$tablet: 991.98px;
$desktop: 1199.98px;


@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin landscape{
  @media (max-width: $landscape){
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

// Large devices (desktops, less than 1200px)
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

/*넓이, 높이 자동 계산함수*/
@mixin square($size){
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}

@mixin transition1 {
  transition: $transition1 420ms ;
}

@mixin scrollbar() {
  color: rgba(0, 0, 0, 0);
  transition: color .3s ease;
  &:hover {
    color: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
    width: 18px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 6px solid transparent;
  }
&::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: white;
  display: none;
}
&::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  //color: rgba(0 0 0 / 30%);
}
&::-webkit-scrollbar-button {
  display: none;
}

&::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active{
  background-color: var(--point);
}

}